@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Splash Page */
.splash-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease;
}

.splash-page.fade-out {
    pointer-events: none;
    animation: fadeOutUp 1s ease forwards;
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-30px);
    }
}

.title img {
    width: 250px;
    height: auto;
}

.subtitle {
    font-size: 32px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .subtitle {
        font-size: 24px;
    }
}

.main-content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease;
    display: none !important;
}

.main-content.show-content {
    visibility: visible;
    opacity: 1;
}

/* Main Page */
:root {
    color: #212322;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 400px;
    border-bottom: 1px solid #eee;
    align-items: center;
}

nav img {
    width: 150px;
}

/* Category */
.nav-lists ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
}

.nav-lists ul li a {
    position: relative;
    text-decoration: none;
    color: var(--color);
    font-size: 14px;
    transition: color 0.3s ease;
}

.nav-lists ul li a:hover {
    color: #aaa;
}

.nav-lists ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background-color: #009ade;
    transition: width 0.4s ease;
}

.nav-lists ul li a:hover::after,
.nav-lists ul li a.active::after {
    width: 100%;
}

/* Search box */
.header-search {
    position: relative;
    width: 200px;
}

.search-box {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 999px;
    padding: 4px 8px;
    transition: all 0.3s ease;
    background-color: white;
    z-index: 5;
}

.search-box:focus-within {
    width: 250px;
    border-color: #009ade;
}

/* input field */
#search-input {
    flex: 1;
    padding-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
    transition: width 0.3s ease;
}

#search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    padding: 4px;
    transition: color 0.2s;
}

/* Extend search box */
#search-input:focus + #search-button,
#search-input:focus {
    color: #009ade;
}

.search-box:focus-within {
    width: 250px;
    border-color: #009ade;
}

/* Auto complete list */
#autocomplete-list {
    position: absolute;
    top: 45px;
    left: 0;
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 150px;
    overflow-y: auto;
    z-index: 10;
}

.hidden {
    display: none;
}

#autocomplete-list li {
    padding: 8px;
    cursor: pointer;
}

#autocomplete-list li:hover {
    background-color: #f0f0f0;
}